/*
Color Scheme

#353535 Jet
#284B63 Indigo Dye
#75ABBC Moonstone
#CBA135 Satin Sheen Gold
#DFE0E2 Platinum

*/
style {

    body {
    font-family: arial, sans-serif;
    font-size: 1.1em;
}

    h1 {
    text-align: center;
    font-size: 1.8em;
}

}