/*
Color Scheme

#353535 Jet
#284B63 Indigo Dye
#75ABBC Moonstone
#CBA135 Satin Sheen Gold
#DFE0E2 Platinum

*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    background-color: #284b63;
}

h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    
    text-align: center;
    font-size: 1.8em;
    color: #cba135;
    border-style: dashed;
}

div {
    text-align: center;
    color: #284b63;
    
}

h2 {
    text-align: center;
    color: #cba135;
    border-style: dashed;
}

p {
    color: #dfe0e2;
    margin: 10px;
  border-style: dashed;
  border-color: #353535;
    background-color: #353535;
}

li {
    color: #dfe0e2;
}

table {
  color: #dfe0e2;
  text-align: center;
  background-color: #353535;
}

#skip {
    width: 10em;
    text-align: center;

}

#info {
    width: 40%;
    font-size: 1.4em;
}

#overview {
    font-weight: bold;
    font-size: 1.2em;
}

#overview::first-letter {
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
}

#temp {
    font-style: italic;
}

#main {
    background-color: #353535;
    color: #dfe0e2;
}

a {
    color: #cba135;
}

a:hover {
    color: #dfe0e2;
}