/*
Color Scheme

#353535 Jet
#284B63 Indigo Dye
#75ABBC Moonstone
#CBA135 Satin Sheen Gold
#DFE0E2 Platinum

*/

main {
    clear:left;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    background-color: #284b63;
    width: 70%;
    margin: 0 auto; /* horizontal center */
    border: thick solid black;
    padding: 1em;
    min-width: 720px;

}

h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    
    text-align: center;
    font-size: 1.8em;
    color: #cba135;
    border-style: dashed;
}

div {
    text-align: left;
    color: #284b63;
    
}

h2 {
    text-align: center;
    color: #cba135;
    border-style: dashed;
}

p {
    color: #dfe0e2;
    margin: 10px;
  border-style: dashed;
  border-color: #353535;
    background-color: #353535;
}

li {
    color: #dfe0e2;
}

table {
  color: #dfe0e2;
  text-align: center;
  background-color: #353535;
}

div#skip {
    top: 5px;
    left: 5px;
    position: relative;
    right: 12.5%;
    }

#info {
    width: 40%;
    font-size: 1.2em;
    float: left;
}

#overview {
    font-weight: bold;
    font-size: 1.2em;
}

#overview::first-letter {
    font-size: 1.4em;
    font-family: 'Times New Roman', Times, serif;
}

#temp {
    font-style: italic;
}

#main {
    background-color: #353535;
    color: #dfe0e2;
}

button {
    font-size: 1.1em;
    background-color: #EBF5FF;
    color: #4312AE;
    border: 2px solid black;
    box-shadow: 4px 4px 4px #999999;
    margin-top: 10px;
  }
  button:hover, button:focus, button:active {
    /* swap colors */
    color: #EBF5FF;
    background-color: #4312AE;
    cursor: pointer; /* displays a hand */
  }

/* Table Styles */

table {
  text-align: center;
}

caption {
  font-size: 1.6em;
  color: #cba135;
  font-weight: bold;
}

thead {
  font-size: 1.2em;
  
}

/* Navigation Menu Styles */

nav {
    clear: left;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    margin-right: 0.5em;
}

nav ul li a {
    padding: 0.25em 1em;
    text-decoration: none; /* no underline */
    background-color: #75ABBC; /* pale bluish white */
    color: #DFE0E2; /* dark blue */
    border: 2px solid black;
    border-top-left-radius: 1em 1em; /* rounded corner! */
    border-top-right-radius: 1em 1em; /* another rounded corner! */
}


nav ul li a:hover, nav ul li a:focus {
        color: black;
        background-color: white;
        
}

a {
    color: #cba135;
}

a:hover {
    color: #dfe0e2;
}